<?xml version="1.0"?>
<configuration>
	<connectionStrings>
		<add name="dig" providerName="MySql.Data.MySqlClient" connectionString="SERVER=localhost;DATABASE=dig;UID=root;PASSWORD=5489; "/>
	</connectionStrings>
	<!--
	<system.data>
		<DbProviderFactories>
			<add name="MySql Data Provider" invariant="MySql.Data.MySqlClient" description="Blah"
				type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.3.6.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
		</DbProviderFactories>
	</system.data>
	-->
	<system.web>
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="MySql.Data, Version=6.3.6.0, Culture=Neutral, PublicKeyToken=c5687fc88969c44d"/>
			</assemblies>
		</compilation>
	</system.web>
</configuration>
