.code {
	font-family: monospace;
	font-size: larger;
}

.void {
	margin-left: 1em;
}

#invalid-keys .key {
	padding: 2px;
	color: #777;
	text-decoration: line-through;
}

.sub-nav, #valid-keys, #invalid-keys {
	margin-left: 300px;
	margin-top: 1em;
}