#register .item {
	padding-bottom: 3px;
}

#register label {
	width: 120px;
	float: left;
}

#register input {
	clear: right;
}

#submit {
	margin-top: 1em;
	margin-left: 120px;
}

#content {
	text-align: center;
}

#register {
	margin-top: 2em;
	display: inline-block;
	width: 320px;
	text-align: left;
}

#register input[type=text],
#register input[type=password] {
	width: 180px;
}