body, h1, form {
	margin: 0;
	padding: 0;
}
img {
	border: 0;
}

body {
	font-family: sans-serif;
	overflow: scroll;
}

#container {
	position: relative;
	width: 800px;
	margin: 0 auto 1em auto;
}

.error {
	margin-top: 1em;
	color: red;
	font-weight: bold;
	text-align: center;
	font-size: large;
}

/* HEADER */
#header {
	height: 60px;
	border-bottom: 1px solid black;
	margin: 1em auto;
}


/* LOGIN BOX */

#login, #logout {
	position: absolute;
	right: 0;
	margin-top: -3em;
}

#login label {
	position: absolute;
	top: -1em;
	margin-left: 2px;
}

/* COMMON ELEMENTS */

h1 {
	font-size: 46px;
	text-shadow: 2px 2px #000;
	color: #556e58;
	text-align: center;
}

